.container {
  color: white;
  width: 100%;
  min-height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: inherit;
  position: relative;
  flex-direction: column;

  margin: -80px auto auto;

  .paper {
    padding: 1rem;
  }

  .full-width {
    width: 100%;
    margin-bottom: 1rem;
  }

  .arrow {
    margin: 1rem 0;
    text-align: center;
  }

  .button-group {
    display: flex;
    justify-content: flex-end;
  }

  button {
    margin-left: 16px;
  }
}
