<div class="container">
  <div class="paper">
    <h2>Deposit</h2>
    <form [formGroup]="form">
      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Account</mat-label>
        <input matInput formControlName="account" />
      </mat-form-field>

      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Amount</mat-label>
        <input matInput type="number" formControlName="amount" />
      </mat-form-field>

      <button mat-stroked-button (click)="confirmDeposit()" [disabled]="form.invalid">Confirm</button>
    </form>
  </div>
</div>
