<div class="container">
  <div class="paper">
    <h2>Register</h2>
    <form [formGroup]="form">
      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Email</mat-label>
        <input matInput type="email" formControlName="email"/>
      </mat-form-field>

      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Password</mat-label>
        <input matInput type="password" formControlName="password"/>
      </mat-form-field>

      <mat-form-field appearance="outline" class="full-width">
        <mat-label>ID</mat-label>
        <input matInput formControlName="cid"/>
      </mat-form-field>

      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Thai Name</mat-label>
        <input matInput formControlName="thaiName"/>
      </mat-form-field>

      <mat-form-field appearance="outline" class="full-width">
        <mat-label>English Name</mat-label>
        <input matInput formControlName="englishName"/>
      </mat-form-field>

      <mat-form-field appearance="outline" class="full-width">
        <mat-label>PIN</mat-label>
        <input matInput type="password" formControlName="pin"/>
      </mat-form-field>

      <div class="button-group">
        <a href="/auth/login">Login</a>
        <button mat-flat-button (click)="register()" [disabled]="form.invalid">Confirm</button>
      </div>
    </form>
  </div>
</div>
