.container {
  color: white;
  width: 100%;
  min-height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: inherit;
  position: relative;
  flex-direction: column;

  margin: -80px auto auto;

  .paper {
    padding: 1rem;
  }

  h2 {
    text-align: center;
    margin-bottom: 24px;
  }

  .full-width {
    width: 100%;
    margin-bottom: 16px;
  }

  .button-group {
    display: flex;
    justify-content: center;
  }

  button {
    margin: 8px;
  }
}
